<!DOCTYPE html>

<html ng-app="invoice1">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Solar Cashflow Calculator</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/custom.css">

    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript' src='js/solar_calculator.js'></script>
    <script type='text/javascript' src='js/result.js'></script>

    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['corechart']});
      // Call the function
      google.setOnLoadCallback(calculateCashflows);
    </script>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <script src="js/app.js"></script>
    <script src="js/result.js"></script>
    <script src="js/solar_calculator.js"></script>

    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>

  </head>

  <body>

      <div  ng-controller="InvoiceController as invoice">
        <b>Invoice:</b>
        <div>
          Quantity: <input type="number" min="0" ng-model="invoice.qty" required >
        </div>
        <div>
          Costs: <input type="number" min="0" ng-model="invoice.cost" required >
          <select ng-model="invoice.inCurr">
            <option ng-repeat="c in invoice.currencies">{{c}}</option>
          </select>
        </div>
        <div>
          <b>Total:</b>
          <span ng-repeat="c in invoice.currencies">
            {{invoice.total(c) | currency:c}}
          </span>
          <button class="btn" ng-click="invoice.pay()">Pay</button>
        </div>
      </div>






    <div class='outer-container'>
    <div class='header-bar'>Solar Cashflow Estimator </div>
    <div class='first-text'>Sunny Meadows Solar Farm </div>

    <div class='chart-container'>
      <span id='monthly-payment-result'> $450,000</span>
      <div id='donutchart' > </div>
    </div>

    <div class='numeric-outputs-div'>

    <div class='numeric-outputs-centering-div'>
      <!-- result divs are inserted here dynamically by JS -->
    </div>

    <!-- test -->
    <div class='numeric-outputs-centering-div'>
      <!-- result divs are inserted here dynamically by JS -->
    </div>

    </div>

    <div class='sliders-div'>

    <div id='slider-box-template' class='slider-box'>
        <div class='slider-title'>Project Cost ($) </div>
        <div class='slider-data-num' id='home-price-result' >$140k </div>
        <div>
          <input id='home-price-slider' class='mySlider' type='range' min='0' max='2000000' value='400000' step='0.5' />
        </div>
    </div>

    <div id='test2' class='slider-box'>
        <div class='slider-title'>Owner Equity (%) </div>
        <div> <input id='down-payment-slider' class='mySlider' type='range' min='0' max='30' value='20' step='0.5' />
        </div>
        <div class='slider-data-num' id='down-payment-result'>$80k </div>
    </div>

    <div id='test3' class='slider-box'>
        <div class='slider-title'>Interest Rate (WACC) (%) </div>
        <div> <input id='interest-rate-slider' class='mySlider' type='range' min='0' max='8' value='4.5' step='0.05' />
        </div>
        <div class='slider-data-num' id='interest-rate-result'>4.50% </div>
    </div>

    </div> <!-- sliders-div -->

  </body>
</html>
